doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/socket/socket.io.js')
    script(src='javascripts/connection/connection.js')
  body
    block content